#light #splash-main {
    
    background-repeat: no-repeat;
    font-family: "roboto", sans-serif;
    background-image: url('./greencheck.png');
    background-position-x: center;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    
}

#dark #splash-main {
    
    background-repeat: no-repeat;
    font-family: "roboto", sans-serif;
    background-image: url('./greencheck.png');
    background-position-x: center;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    
}


#light #splash-main p a {
    color: black;
}

#dark #splash-main p a {
    color: white;
}

#light #splash-main img{
    width:50%;
    height: 70%;
    
}

#dark #splash-main img{
    width:50%;
    height: 70%;
    bottom: 0;
}

#light #splash-main i {
    color: black;
    text-decoration: none;
    font-size: 36px;
    margin:10px;
}

#dark #splash-main i {
    color: white;
    text-decoration: none;
    font-size: 36px;
    margin:10px;

}

#light #buttons-and-icons {
    display: flex;
    align-items: center;
    

}

#dark #buttons-and-icons {
    display: flex;
    align-items: center;
   
}

#light #buttons-and-icons div:hover {
    cursor: pointer;
    

}
#light #buttons-and-icons a:hover {
    cursor: pointer;
    background: none;
}

#dark #buttons-and-icons div:hover {
    cursor: pointer;
    background: none;
}

