#task-name {
    /* background-color: #202020; */
    margin: 10px;
    width: 80%;
    resize: none;
    border: none;
    background-color: transparent;
    outline: none;
    color:gray;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}


#add-task textarea {
    margin: 10px;
    width: 90%;
    height:100px;
    resize: none;
    border: none;
    background-color: transparent;
    outline: none;
    color:gray;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}


#light #content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.842);
    border-radius: 5px;
    box-shadow:  0px 0px 10px 10px #000000;
    padding: 10px;
    background-color: #1f1f1f;
      
}

#dark #content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.658);
    border-radius: 5px;
    box-shadow:  0px 0px 10px 10px #000000;
    padding: 10px;
    background-color: white;
      
}


#second-block {
    display: flex;
    flex-direction: row;

}

#third-block {
    display: flex;

}

#add-task-cant-click {
    background-color: red;
    background-color: #de4c4a;
    border-color: #de4c4a ;
    color: #fff ;
    padding:10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    opacity: 30%;
    margin: 10px;
}

#add-task-cant-click:hover {
    cursor: not-allowed;
}

#add-task-click {
    background-color: red;
    background-color: #de4c4a;
    border-color: #de4c4a ;
    color: #fff ;
    padding:10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    margin: 10px;
}

#add-task-click:hover {
    cursor: pointer;
}

.add-cancel-buttons {
    display: flex;
    align-items: center;

}

.add-cancel-buttons button {
    margin: 10px;
    background-color: #383838;
    border-color: #000000 ;
    color: #fff ;
    padding:10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    

}

#date{
    display: flex;
    flex-direction: column;
}