#navContainer{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 40px;
    z-index: 1;
    top: 0;
    border-bottom: rgba(0, 0, 0, 0.137) solid 1px; 
    color: white; 
    background-color: #282828;
    position: sticky;
}

body{
    margin:0;
}

.nav-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    
    
}

.nav-div div{
    cursor: pointer;
    font-family: "Roboto, sans-serif";
    
}

.nav-div i{
    padding: 5px;
    border-radius: 3px;
    color:white;
    background-color: none;
    
}

.nav-div i:hover {
    background-color: gray;
    cursor: pointer;
}

#light .nav-div i{
    padding: 5px;
    border-radius: 3px;
    color:white;
    background-color: none;
    
}

#light .nav-div i:hover {
    background-color: rgba(255, 255, 255, 0.178);
    cursor: pointer;
}

#light .nav-div button{
    background:none;
    border:none;
}

.nav-div button{
    background:none;
    border:none;
    
    
}
.nav-div button:hover{
    cursor: pointer;
    background-color: gray;
}

#light #add-tooltip {
    background-color: rgb(202, 202, 202);
    font-family: "Roboto", "sans-serif";
}

#dark #add-tooltip {
    
    font-family: "Roboto", "sans-serif";
}



