#navContainer{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 40px;
    z-index: 1;
    top: 0;
    border-bottom: rgba(0, 0, 0, 0.137) solid 1px; 
    color: white; 
    background-color: #282828;
    
}

body{
    margin:0;
}

.nav-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    
}

.nav-div i{
    padding: 5px;
    border-radius: 3px;
    color:white;
    background-color: none;
}

i:hover {
    background-color: gray;
}

.nav-div button{
    background:none;
    border:none;
    
    
}



