.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    position: fixed;
    top: 0; 
    left: 0;
    bottom: 0; 
    height: 100%;
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 15%;
    z-index: 0;
}

#today-side-div {
    display: flex;
    flex-direction: column;
}

#today-side-div i {
    padding: 5px;
}

.navlink-div {
    margin: 10px;
    border-radius: 5px;
}

.navlink-div:hover {
    background-color: gray;
}

#projects-side-div{
    margin-top: 60px;
    font-size: 14px;
    font-weight: 700;
}

#projects-header{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
}

.sidebar-container:hover #project-button{
    
    visibility: visible;

}

#project-button{
    visibility: hidden;
    margin-top: 3px;
}

.one-project{
    display: flex;
    
}