.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    position: fixed;
    top: 0; 
    left: 0;
    bottom: 0; 
    height: 100%;
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    width: 10%;
    z-index: 0;
}
#light .sidebar-container {
    background-color: #fafafa;
   
  }

#light .navlink-div a{
    text-decoration:none;
    color: black;
}

#dark .navlink-div a{
    text-decoration:none;
    color: white;
    
}

#light .one-project a{
    text-decoration:none;
    color: black;
    padding-right:5px;
}

#light .one-project a:hover{
    background-color: rgba(236, 236, 236, 0.568);
    border-radius:5px;
}
#dark .one-project a:hover{
    background-color: rgba(236, 236, 236, 0.473);
    border-radius:5px;
}

#dark .one-project a{
    text-decoration:none;
    color: white;
    padding-right:5px;
    font-size: .9vw;
}


#today-side-div {
    display: flex;
    flex-direction: column;
}

#today-side-div i {
    padding: 5px;
}

.navlink-div {
    margin: 10px;
    border-radius: 5px;
}

.navlink-div:hover {
    background-color:  rgba(236, 236, 236, 0.904);
}

#projects-side-div{
    margin-top: 60px;
    font-size: 14px;
    font-weight: 700;
}

#projects-header{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
}

.sidebar-container:hover #project-button{
    
    visibility: visible;

}

#project-button{
    visibility: hidden;
    margin-top: 3px;
    display: flex;
    border-radius: 50%;
}

#light #project-button:hover{
    background-color: #de4c4a;
    color:white;
    cursor: pointer;
}

#dark #project-button:hover{
    background-color: #de4c4a;
    color:white;
    cursor: pointer;
}

.one-project{
    display: flex;
    
}
