/* TODO Add site wide styles */
/* Convert 1rem to 10px */

/* html {
    
    font-size: 62.5%;
  }
   */

body{
  margin: 0;
}

#light a:hover{
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 5px;
}

/* #dark a:hover{
  background-color: gray;
  border-radius: 5px;
} */

#dark button:hover{
  background-color: gray;
  border-radius: 5px;
}

/* #light a {
  color:black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

#dark a {
  color:white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
} */

#light h1{
  color: black;

}
#light h2{
  color: black;

}

#light h3{
  color: black;

}

#light h4{
  color: black;

}

#light h5{
  color: black;

}

#light h6{
  color: black;

}

#dark h1, h2, h3, h4, h5, h6 {
  color: white;
}

#light nav {
  background-color: #de4c4a;
}

#dark nav {
  background-color: #282828;
}

#light label{
  color: black;
}

#dark label{
  color: white;
}
#light .add-task-button button{
  color: black;
}
#light .add-task-button #actual-button:hover{
  color: #de4c4a;
  cursor: pointer;
  
  
}
#light .add-task-button #actual-button:hover i{
  color: white;
  background-color: #de4c4a;
  border-radius: 50%;
  
}

#dark .add-task-button{
  color: white;
}

#dark .add-task-button #actual-button:hover{
  color: #de4c4a;
  cursor: pointer;
  
  
}
#dark .add-task-button #actual-button:hover i{
  color: white;
  background-color: #de4c4a;
  border-radius: 50%;
  
}

#log-in-form{
  background-color: gray;
  padding: 20px;
  border-radius: 5px;
  font-family: "Roboto", "sans-serif";
}

#sign-up-form{
  background-color: gray;
  padding: 20px;
  border-radius: 5px;
  font-family: "Roboto", "sans-serif";
}

.form-div{
  margin:5px;
  
}

.form-div input, textarea, select{
  font-family: "Roboto", "sans-serif";
  width: 60%;
}
.form-div textarea{
  font-family: "Roboto", "sans-serif";
  width: 60%;
  height: 50px;
}

#form-part-2{
  display: flex;
  
}

#form-part-2 input{
  width:auto;
  
}
#form-part-2 select{
  width:auto;
  
}

/* #edit-task-name-input{
  width:60%;
} */


#dark #sign-up-form{
  color:white;
}

#light #sign-up-form{
  color: black;
}

#dark {
  background-color: #1f1f1f;
  height: 100vh;
  width: 100vw;
  
}

#light {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
}