#dark #log-in-form {
    color: white;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 5px;
    font-family: "Roboto", "sans-serif";
}

#light #log-in-form {
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    font-family: "Roboto", "sans-serif";
}

#dark .form-div-login input{
    color:white;
    background-color: #1f1f1f;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  #light .form-div-login input{
    color: black;
    background-color: white;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
  }