body {
    background-color: #1f1f1f;
    color: white;
}

#h1-home {
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
}

#h2-home {
    margin-right: 20px;
}


#date {
    margin-left: 10%;
    display: flex;
    align-items: center;
}

#date h4 {
    color: grey;
    margin-left: 6px;
    font-size: 14px;
    font-weight: 400;
}

.main-page {
    font-family: 'Roboto', sans-serif;

    margin-left: 10%;
    margin-right: 10%;
}


#tasks-container {
    display: grid;
    grid-template-columns: 1fr;
}

.one-task {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.more-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;

}

.more-div i {
    color: white;
    padding: 3px;
    border-radius: 5px;
}

/* .one-task div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */

.task-name {
    display: flex;
    align-items: flex-start;
    margin-left: 20%;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
}

.task-name:hover {
    background-color: rgba(255, 255, 255, 0.144);
}

.task-name h3 {
    margin: 0;
}

.task-name p {
    margin: 0;
}

#all-tasks-ul {
    border-bottom: rgb(40, 219, 70) 1px solid;
    padding-bottom: 10px;

}

#all-tasks-ul li {
    margin: 5px;
}

.main-page button {
    background: none;
    border: none;
    color: white;
}

#new-task-button i {
    background: none;
    border: none;
    color: #de4c4a;
    font-size: 16px;
}

#new-task-button button {
    margin-left: 10%;
    color: gray;
    font-size: 16px;
}

#new-task-button:hover button {
    color: #ff7066;

}

#new-task-button:hover i {
    background-color: #ff7066;
    color: white;
    border-radius: 10px;

}