
#inbox-large-container h1 {
    font-size: 20px;

}

#inbox-large-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
}



.one-task {
    display: grid;
    grid-template-columns: 1fr 20fr;
    grid-template-rows: 1fr;
}

.more-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;

}

.more-div i {
    color: white;
    padding: 3px;
    border-radius: 5px;
}

#task-info {
    text-decoration: none;

}

.task-info p {
    font-size: 12px;
    color: grey;
    margin-top: 0;
}

.task-name {
    display: grid;

}



.task-name h3 {
    margin: 0;
}

.task-name p {
    margin: 0;
}

#all-tasks-ul {
    border-bottom: rgb(40, 219, 70) 1px solid;
    padding-bottom: 10px;

}

#all-tasks-ul li {
    margin: 5px;
}