
#light .main-page{
    background-color: white;
}

#dark .main-page{
    background-color: #1f1f1f;
}

h3{
    font-weight: 100;
    text-decoration: none;
}

.main-page {
    font-family: 'Roboto', sans-serif;
    margin-left: 30%;
    margin-right: 10%;
}

#tasks-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 150%;
    
}



#task-info{
    text-decoration: none;

}

