.task-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

.task-info h4{
    padding: 0px;
    font-weight: 200;
}
#tasklist-task-name {
    margin: 0;
    
}
#tasklist-task-name p{
    font-size:16px;
    margin-bottom: 10px;
    margin-top:10px;
    
}

#task-info-grid-1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}



#task-info-grid-2{
    display: flex;
    justify-content: flex-end;
    margin:0;
}

#task-info-grid-2 i:hover{
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 3px;
    
    cursor: pointer;
}

#light #task-info-grid-2 i{
    margin: 3px; 
    padding: 3px;
    color: black;
}

#dark #task-info-grid-2 i{
    margin: 3px; 
    padding: 3px;
    color:white;
}

#task-check{
    display: flex;
    align-items: center;
   
}

#task-check i:hover{
    color: green;
    border-radius: 50%;
    cursor: pointer;
    background-color: none;
}

#light #edit-tooltip {
    background-color: rgb(202, 202, 202);   
}

#light #delete-tooltip {
    background-color: rgb(202, 202, 202);
}

#light #more-tooltip {
    background-color: rgb(202, 202, 202);
}

#light #check-tooltip {
    background-color: rgb(202, 202, 202);
}

.one-task {
    border-bottom: 1px solid gray;
}